@model start.Models.WorkSchedule

<form id="createScheduleForm" asp-action="CreateSchedule" method="post" novalidate="novalidate">
    @Html.AntiForgeryToken()
    
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="EmployeeID" class="form-label">Employee</label>
        <select asp-for="EmployeeID" class="form-select" asp-items="ViewBag.Employees">
            <option value="">-- Select Employee --</option>
        </select>
        <span asp-validation-for="EmployeeID" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Date" class="form-label">Date</label>
        
        <input asp-for="Date" class="form-control" type="date" 
               value="@Model.Date.ToString("yyyy-MM-dd")" 
               min="@DateTime.Today.ToString("yyyy-MM-dd")" />
               
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Shift" class="form-label">Shift</label>
        <select asp-for="Shift" class="form-select">
            <option value="">-- Select Shift --</option>
            <option value="Sáng">Sáng</option>
            <option value="Tối">Tối</option>
        </select>
        <span asp-validation-for="Shift" class="text-danger"></span>
    </div>
    <input type="hidden" name="Status" value="Chưa duyệt" />
    <button type="submit" class="d-none"></button>

</form>