@{
    Layout = "_BManagerLayout";
}
@model CreateNews
@{
    ViewData["Title"] = "Tạo Tin Tức Mới";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateNews" method="post" enctype="multipart/form-data">
            @* enctype="multipart/form-data" là BẮT BUỘC để upload file *@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="content-editor" asp-for="Content" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Tạo Mới" class="btn btn-primary" />
               
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.tiny.cloud/1/x5qk3wigv0vkef702t7pkxh75r2sey78bcilmap880b7d4um/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#content-editor',
            plugins: 'code table lists image link',
            toolbar: 'undo redo | blocks | bold italic | alignleft aligncenter alignright | indent outdent | bullist numlist | code | table | image link'
        });
    </script>
}