@model start.Models.EditProfile
@{
    ViewData["Title"] = "Chỉnh sửa hồ sơ";
}

<link rel="stylesheet" href="/css/editprofile.css" />

<div class="edit-profile-container">
    <div class="edit-profile-card">
        <h3>@ViewData["Title"]</h3>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success text-center fw-bold">
                @ViewBag.Message
            </div>
        }



        <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Nhập họ tên" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control" placeholder="Số điện thoại" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" placeholder="Địa chỉ" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="BirthDate" class="form-label"></label>
                <input asp-for="BirthDate" type="date" class="form-control" id="Birthday"
                    max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-primary">Đổi mật khẩu</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    const birthdayInput = document.getElementById('Birthday');
    const errorSpan = document.getElementById('birthdayError');

    birthdayInput.addEventListener('change', () => {
        const selectedDate = new Date(birthdayInput.value);
        const today = new Date();
        today.setHours(0, 0, 0, 0);

        if (selectedDate > today) {
            errorSpan.textContent = "Ngày sinh không được lớn hơn hôm nay";
            birthdayInput.value = "";
        } else {
            errorSpan.textContent = "";
        }
    });

</script>