<h2>Quên mật khẩu</h2>

@if (ViewBag.ErrorMessage != null){
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<form asp-action="SendOtp" method="post">
    <input type="hidden" name="purpose" value="reset" />
    <div class="mb-3">
        <input type="email" name="email" class="form-control" placeholder="Nhập email của bạn" required />
    </div>
    <button type="submit" class="btn btn-primary">Gửi OTP</button>
</form>
