@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap">
<link rel="stylesheet" href="/css/login.css" />

<div class="login-form">
    <div class="background"></div>
    <div class="login-box">
        <div class="top">
            <img src="/img/logo1.png" alt="Logo">
            <div class="brand">
                <div class="title title-stack">
                    <span class="line1">ĐẶT</span>
                    <span class="line2">LẠI MẬT KHẨU</span>
                </div>
            </div>
        </div>

        <form asp-action="ResetPassword" method="post">

            <div class="mb-3">
                <input asp-for="OtpCode" class="form-control" placeholder="Mã OTP" />
                <span asp-validation-for="OtpCode" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="NewPassword" class="form-control" type="password" placeholder="Mật khẩu mới" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="ConfirmNewPassword" class="form-control" type="password" placeholder="Nhập lại mật khẩu mới" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-login btn-main w-100">Xác nhận</button>
        </form>

        @if(ViewBag.Message != null)
        {
            <p class="text-success mt-2">@ViewBag.Message</p>
        }

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="text-danger mt-2">
                @foreach(var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }

        <div class="extra-links mt-3">
            <p>Quay về <a asp-controller="Account" asp-action="Login">Đăng nhập</a></p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
