@model start.Models.Employee
@{ Layout = "_EmployeeLayout"; ViewBag.ActiveMenu="Profile"; ViewBag.ActiveTab="chat"; }

@await Html.PartialAsync("~/Views/Employee/_Header.cshtml", Model)
@await Html.PartialAsync("~/Views/Employee/_Tabs.cshtml", Model)

<h3 class="section-title">ĐOẠN CHAT CHUNG</h3>
<div class="chat-gallery">
  <figure class="chat-photo">
    <img src="https://res.cloudinary.com/do48qpmut/image/upload/v1761643716/uploads/yxzpuhdw20on9js3u6vu.jpg" alt="Ảnh chat 1"><figcaption>Tham gia Nhóm Chi Nhánh</figcaption>
  </figure>
  <figure class="chat-photo">
    <img src="https://res.cloudinary.com/do48qpmut/image/upload/v1761643716/uploads/yxzpuhdw20on9js3u6vu.jpg" alt="Ảnh chat 2"><figcaption>Tham gia Buble Tea</figcaption>
  </figure>
</div>