
@{
    Layout = null;
}

@{
                var traSuaList = (ViewBag.TraSuaList as List<string>)?.Take(8).ToList();
            }
            <div class="about-media">
                @if (traSuaList != null && traSuaList.Any())
                {
                    foreach (var item in traSuaList)
                    {
                        <div class="product-item">
                            <img src="@item" alt="Milk Tea" />
                        </div>
                    }
                }
                else
                {
                    <p>No milk tea images available.</p>
                }
            </div>