
.login-box .top img {
  width: 100px;  
  height: auto;
  margin-bottom: 8px;
}


.register-title {
  font-size: 32px !important;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  text-align: center;
}

.register-title .line2{
    margin-left: 100px !important;
}
